.container{

}

.wrapper{
    width: 500px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    padding: 5px;
}

.iframe{
    position: relative;
    width: 100%;
    max-width: 560px;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.iframe iframe{
    position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 0;
}

.productImg{
width: 50%;
height: 40%;
margin-bottom: 5px;

}

.product_title{
    
}

.title{
    color: grey;
}

.productid_container{

}

.productid{
    color: rgb(53, 51, 51);
    font-size: small;
}

.quantity_container{

}

.quantity{

}
